/* Travail pratique #2 pour le cours IFT1005 
** Par Bashir Alla(20074355) et Geneviève Ouellette(20141307)
*/

/*==============================================*/
/* Fonts                                        */
/*==============================================*/

:root,
body,
header,
footer,
section,
article,
div,
ul,
ol,
li,
p,
a,
span,
label,
input,
button {
  font-family: "Roboto", arial;
}

body {
  font-size: 1rem;
  font-weight: 300;
}

/*==============================================*/
/* Navigation                                   */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: header, nav, ul, li, a, div.
 */
/*** Logo ***/

svg {
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

.logoSmallText {
  font: italic 13px sans-serif;
}

.logoBigText {
  font: bold 40px sans-serif;
  fill: rgb(49, 92, 187);
}

.logoItalTexte {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  fill: lightblue;
}

.nav-link {
  font-size: 2rem;
}

/*==============================================*/
/* Articles                                     */
/*==============================================*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

/*==============================================*/
/* Recipes                                      */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, ul, li, p.
 */
.card {
  overflow: hidden;
  margin-bottom: 20px;
}

.card-img-top:hover {
  transform: scale(1.1);
}

/*==============================================*/
/* Contact                                      */
/*==============================================*/

footer {
  padding-left: 50px;
}

/*==============================================*/
/* Footer                                       */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: p.
 */